.wrapper {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 576px) {
    padding: 0 12px;
  }
}

.gridContainer {
  display: grid;

  @media (min-width: 1440px) {
    & {
      grid-template-columns: minmax(504px, 1000px) 448px;
      grid-column-gap: 24px;
    }
  }
}
