.title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: start;
  margin-block: 91px 32px;

  @media (max-width: 1439px) {
    & {
      font-size: 24px;
    }
  }

  @media (max-width: 1023px) {
    & {
      font-size: 20px;
      margin-block: 62px 24px;
    }
  }
  @media (max-width: 743px) {
    & {
      font-size: 16px;
      margin-block: 34px 16px;
    }
  }
}
